#1  
   Data structures organize and manage data efficiently for operations like searching, sorting, and retrieval, crucial for optimizing performance.

#2
   - **Mutable**: Can be changed after creation (e.g., lists: `a = [1, 2] â†’ a[0] = 3`).  
   - **Immutable**: Cannot be changed (e.g., tuples: `a = (1, 2)`).

#3   
   - Lists: Mutable, slower, use square brackets (`[ ]`).  
   - Tuples: Immutable, faster, use parentheses (`( )`).

#4
   Dictionaries store data as key-value pairs in a hash table for efficient lookups.

#5  
   Sets automatically remove duplicates and offer faster membership checks.

#6
   Strings: Immutable sequences of characters.  
   Lists: Mutable sequences that can hold mixed data types.

#7  
   Their immutability prevents accidental modification, making them reliable for fixed data.

#8  
   A hash table maps keys to values using hash functions; dictionaries in Python are implemented as hash tables.

#9
   Yes, lists can store elements of varying data types.

#10
   To optimize memory usage and ensure security, as immutable objects are hashable

#11
    Fast lookups with key-value pairs, suitable for unordered data with unique identifiers.

#12
    Use tuples for constants like geographic coordinates (`(latitude, longitude)`).

#13
    Sets automatically remove duplicates.

#14
    - Lists: Checks for existence of values (`value in list`).  
    - Dictionaries: Checks for existence of keys (`key in dict`).

#15
    No, because tuples are immutable.

#16
    A dictionary within another dictionary, e.g., `{'user1': {'name': 'Ankita', 'age': 25}}`.

#17
    O(1) (average case) due to hash table implementation.

#18
    Use lists for ordered collections or when indexing by position is needed.

#19
    Keys are stored based on hash values, so the order is not guaranteed, but retrieval is efficient.

#20
    - Lists: Access by index.  
    - Dictionaries: Access by key.

In [1]:
#1
my_name = "ANKITA"

# Print the string
print(my_name)

ANKITA

In [3]:
#2
my_string = "hello world"

# Find the length of the string
string_length = len(my_string)

# Print the length
print("The length of the string is:", string_length)

The length of the string is: 11

In [4]:
#3
my_string = "Python Programming"

# Slice the first 3 characters
sliced_string = my_string[:3]

# Print the result
print("The first 3 characters are:", sliced_string)

The first 3 characters are: Pyt

In [5]:
#4
my_string = "hello"

# Convert the string to uppercase
uppercase_string = my_string.upper()

# Print the result
print("The string in uppercase is:", uppercase_string)

The string in uppercase is: HELLO

In [6]:
#5
my_string = "i like apple"

# Replace "apple" with "orange"
new_string = my_string.replace("apple", "orange")

# Print the result
print("Updated string:", new_string)

Updated string: i like orange

In [8]:
#6
my_list = [1, 2, 3, 4, 5]

# Print the list
print("The list is:", my_list)

The list is: [1, 2, 3, 4, 5]

In [11]:
#7
my_list = [1, 2, 3, 4, 5]

# Append the number 10 to the list
my_list.append(10)

# Print the updated list
print("Updated list:", my_list)

Updated list: [1, 2, 3, 4, 5, 10]

In [12]:
#8
my_list = [1, 2, 3, 4, 5]

# Remove the number 3 from the list
my_list.remove(3)

# Print the updated list
print("Updated list:", my_list)

Updated list: [1, 2, 4, 5]

In [9]:
#9
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [10]:
#10
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [16]:
#11
my_tuple = (10, 20, 30)

# Print the tuple
print("The tuple is:", my_tuple)

The tuple is: (10, 20, 30)

In [17]:
#12
my_tuple = ('apple', 'banana', 'cherry')

# Access the first element
first_element = my_tuple[0]

# Print the first element
print(first_element)

apple

In [15]:
#13
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)  # Use the count() method
print(f"The number 2 appears {count_of_2} times in the tuple.")

The number 2 appears 3 times in the tuple.

In [14]:
#14
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(f"The index of 'cat' is: {index_of_cat}")

The index of 'cat' is: 1

In [13]:
#15
my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("Banana is in the tuple.")
else:
    print("Banana is not in the tuple.")

Banana is in the tuple.

In [18]:
#16
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [19]:
#17
my_set = {1, 2, 3, 4}
my_set.add(6)  # Adds the element 6 to the set
print(my_set)

{1, 2, 3, 4, 6}

In [20]:
#18
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [21]:
#19
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

In [22]:
#20
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)
print(count_of_2)

3

In [23]:
#21
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [24]:
#22
my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("Banana is in the tuple.")
else:
    print("Banana is not in the tuple.")

Banana is in the tuple.

In [25]:
#23
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [26]:
#24
my_set = {1, 2, 3, 4}

# Add the element 6 to the set
my_set.add(6)

# Print the updated set
print(my_set)

{1, 2, 3, 4, 6}